<form [formGroup]="formModel" (submit)="onSubmit()">
  <div>用户名：<input [class.hasError]="formModel.get('username').invalid && !formModel.get('username').untouched" type="text" formControlName="username"></div>
  <div [hidden]="formModel.get('username').valid || formModel.get('username').untouched">
    <div [hidden]="!formModel.hasError('required','username')">用户名是必填项</div>
    <div [hidden]="!formModel.hasError('minlength','username')">用户名最小长度是6</div>
  </div>

  <div>手机号：<input type="text" formControlName="mobile"></div>
  <div [hidden]="formModel.get('mobile').valid || formModel.get('mobile').pristine">
    <div [hidden]="!formModel.hasError('mobile','mobile')">{{formModel.getError('mobile', 'mobile')?.info}}</div>
  </div>
  <div [hidden]="!formModel.get('mobile').pending">正在校验手机号合法性</div>
  <div formGroupName="pswGroups">
    <div>密码：<input type="password" formControlName="psw"></div>
    <div [hidden]="!formModel.hasError('minlength',['pswGroups','psw'])">密码最小长度是6</div>
    <div>确认密码：<input type="password" formControlName="repsw"></div>
    <div [hidden]="!formModel.hasError('equal','pswGroups') || this.formModel.get('pswGroups').get('repsw').untouched || formModel.hasError('minlength',['pswGroups','psw'])">
      {{formModel.getError('equal', 'pswGroups')?.info}}
    </div>
  </div>
  <button type="submit">注册</button>
</form>
<!--<div>{{formModel.status}}</div>-->
