<!--The content below is only a placeholder and can be replaced.-->

<!--<app-news></app-news>-->
<!--<app-home></app-home>-->
<!--<app-todo-list></app-todo-list>-->
<!--<app-http></app-http>-->
<!--<app-father></app-father>-->
<p>根路由</p>
<ul>
  <li><a routerLink="/route1" routerLinkActive="active">route1组件</a></li>
  <li><a routerLink="/route2" routerLinkActive="active">route2组件</a></li>
  <li><a routerLink="/route3" routerLinkActive="active">route3组件</a></li>
  <li><a routerLink="/route5" routerLinkActive="active">route5组件----配置子路由</a></li>
</ul>
<router-outlet></router-outlet>
