

<!--<app-news></app-news>-->
<!--<app-home></app-home>-->
<!--<app-todo-list></app-todo-list>-->
<!--<app-http></app-http>-->
<!--<app-father></app-father>-->


<!--<p>根路由</p>-->
<!--<ul>-->
  <!--<li><a routerLink="/route1" routerLinkActive="active">route1组件</a></li>-->
  <!--<li><a routerLink="/route2" routerLinkActive="active">route2组件</a></li>-->
  <!--<li><a routerLink="/route3" routerLinkActive="active">route3组件</a></li>-->
  <!--<li><a routerLink="/route5" routerLinkActive="active">route5组件&#45;&#45;&#45;&#45;配置子路由</a></li>-->
<!--</ul>-->
<!--<router-outlet></router-outlet>-->

<!--<p>Ant Design  UI 框架</p>-->
<!--<button nz-button nzType="primary">Primary</button>-->
<!--<button nz-button nzType="primary"><i nz-icon type="search"></i>Search</button>-->

<!--<p>ngx-quill富文本框</p>-->
<!--<quill-editor></quill-editor>-->
<!--<p>生命周期钩子</p>-->
<!--<app-life [name]="title"></app-life>-->
<p>生命周期钩子---ngOnChanges</p>
<div>
  <h2>我是父组件</h2>
  <div>问候语：<input type="text" [(ngModel)] = 'greeting'></div>
  <div>姓名：<input type="text" [(ngModel)] = 'user.name'></div>
  <app-changes [greeting] = 'greeting' [user] = 'user'></app-changes>
</div>
